@inject HttpClient Http

<SfDialog Height="75%" Width="90%" Target="#target" ShowCloseIcon="true" @bind-Visible="Visible" IsModal="true">
    <DialogTemplates>
        <Header>
            @Titulo
        </Header>
        <Content>
            <div class="dialogContent">
                @if (DataSource == null)
                {
                    <span>Cargando...</span>
                }
                else
                {
                    if (DataSource.Length == 0)
                    {
                        <span class="text-muted">Sin Datos</span>
                    }
                    else
                    {

                        <SfGrid @ref="@Grid" DataSource="@DataSource" AllowPaging="true" AllowFiltering="true" TValue="Programa"
                                AllowResizing="true" GridLines="GridLine.Both"
                                AllowSelection="true" AllowSorting="true" AllowTextWrap="true" EnableHover="true"
                                ShowColumnMenu="true">
                            <GridPageSettings PageSizes="@(new int[] { 5,10,20 })" PageSize="5" PageCount="5"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                            <GridEvents RowSelected="GetSelectedRecords" TValue="Programa"></GridEvents>
                            <GridColumns>
                                @*<GridColumn Field="@nameof(ResumenStock.CG_ART)" AutoFit="true"></GridColumn>
                                <GridColumn Field="@nameof(ResumenStock.STOCK)" AutoFit="true"></GridColumn>
                                <GridColumn Field="@nameof(ResumenStock.CG_DEP)" AutoFit="true"></GridColumn>
                                <GridColumn Field="@nameof(ResumenStock.DESPACHO)" AutoFit="true"></GridColumn>
                                <GridColumn Field="@nameof(ResumenStock.SERIE)" AutoFit="true"></GridColumn>
                                <GridColumn Field="@nameof(ResumenStock.LOTE)" AutoFit="true"></GridColumn>*@

                                <GridColumn Field="@nameof(Programa.CG_PROD)" Width="120px"></GridColumn>
                                <GridColumn Field="@nameof(Programa.CG_ORDF)"></GridColumn>
                                <GridColumn Field="@nameof(Programa.FE_EMIT)"></GridColumn>
                                <GridColumn Field="@nameof(Programa.CANT)"></GridColumn>
                                <GridColumn Field="@nameof(Programa.REGISTRO)" IsPrimaryKey="true"></GridColumn>
                                <GridColumn Field="@nameof(Programa.Cg_Cia)"></GridColumn>

                            </GridColumns>
                        </SfGrid>


                    }
                }
            </div>
        </Content>
        <FooterTemplate>
            @*<SfTextBox ID="inVal" @bind-Value="@TextBoxValue" @ref="TextboxObj" Type="InputType.Text" Placeholder="Enter your message here!" />*@
            <button id="sendButton" @onclick="@EnviarObjetoSeleccionado" class="e-control e-btn e-primary" data-ripple="true">Aceptar</button>
        </FooterTemplate>
    </DialogTemplates>
    @*<DialogEvents OnOpen="@BeforeDialogOpen" Closed="@DialogClosed"></DialogEvents>*@
</SfDialog>

@code {
    SfGrid<Programa> Grid;

    [Parameter] public string Titulo { get; set; } = null!;
    [Parameter] public bool Visible { get; set; } = false;
    Programa[] DataSource { get; set; } = null!;
    [Parameter] public string[] Columnas { get; set; } = null!;
    [Parameter] public EventCallback<Programa> onObjetoSeleccionado { get; set; }

    //public ResumenStock Selected { get; set; }
    public Programa Selected { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //DataSource = await Http.GetFromJsonAsync<Progr[]>("api/ResumenStocks");
        DataSource = await Http.GetFromJsonAsync<Programa[]>("api/Programas");

        await InvokeAsync(StateHasChanged);
    }


    public void EnviarObjetoSeleccionado()
    {
        Visible = false;
        onObjetoSeleccionado.InvokeAsync(Selected);
    }

    public async Task GetSelectedRecords(RowSelectEventArgs<Programa> args)
    {
        args.PreventRender = true; //without this, you may see noticable delay in selection with 75 rows in grid
        //ListaSeleccionada = await this.Grid.GetSelectedRecords();
        Selected = args.Data;
        await InvokeAsync(StateHasChanged);
    }
}
